.map-container {
    width: 100%;
    background-color: black;
    height: 100%;
}

.map{
    display: flex;
    align-items: center;
    margin-top: -0% !important;
    margin-left: 330px !important;
    margin-right: 60px;
    box-shadow: 4px 0px 35px -19px black;
}


.nomeCompleto_textField{
    margin-top: 15px !important;
    height: 50px !important;  
    width: 60% !important;  
}

.veiculo_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 35% !important;
    left: 3%; 
}

.CNH_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 30% !important;
}

.cpf_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 33% !important;
    left: 3%;
}

.rg_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 30% !important;
    left: 5%;
}

.senha_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 30% !important; 
}

.telefone_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 33% !important;
    left: 3%; 
}

.email_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 30% !important;
    left: 5%;
}


