@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

.form {
    margin-top: -50% !important;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15) !important;
    max-width: 1400px !important;
    margin-left: 17% !important;
}

.tituloMenu {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 35px !important;
    margin-bottom: 25px;
}


.image-collect-form{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./../../assets/marcin-jozwiak-oh0DITWoHi4-unsplash.jpg");
}


.form h1 {
    background: radial-gradient(at bottom right, #b4b4b4 0, #b4b4b4 8px, rgba(180,180,180,0.2) 8px, rgba(180,180,180,0.2) 16px, rgba(180,180,180,0.75) 16px, rgba(180,180,180,0.75) 24px, rgba(180,180,180,0.25) 24px, rgba(180,180,180,0.25) 32px, rgba(180,180,180,0.3) 32px, rgba(180,180,180,0.3) 40px, rgba(180,180,180,0.75) 40px, rgba(180,180,180,0.75) 48px, rgba(180,180,180,0.2) 48px, rgba(180,180,180,0.2) 56px, transparent 56px, transparent 64px), radial-gradient(at top left, transparent 0, transparent 8px, rgba(180,180,180,0.2) 8px, rgba(180,180,180,0.2) 16px, rgba(180,180,180,0.75) 16px, rgba(180,180,180,0.75) 24px, rgba(180,180,180,0.3) 24px, rgba(180,180,180,0.3) 32px, rgba(180,180,180,0.25) 32px, rgba(180,180,180,0.25) 40px, rgba(180,180,180,0.75) 40px, rgba(180,180,180,0.75) 48px, rgba(180,180,180,0.2) 48px, rgba(180,180,180,0.2) 56px, #b4b4b4 56px, #b4b4b4 64px, transparent 64px, transparent 160px);
    background-blend-mode: multiply;
    background-size: 64px 64px, 64px 64px;
    background-color: #ffffff;


    border: 1px solid rgba(255,255,255,0.325);
    font-family: Nunito, sans-serif;
    font-size: 30px;
    color: rgb(221, 221, 221);
    padding: 10px 10px;
    font-family : Roboto;
    background-color :#1b1b1bd1 ;
    border-radius : 5px;
}

/* .form h1:hover{
    color: rgba(40, 70, 167, 0.952);   
} */

.hr-title{
    color: rgba(148, 148, 148, 0.075) !important;
}

.subtitle{
    margin-top: 15px;
    margin-bottom: 20px;
}


.form .checkboxes {
    margin: 1rem 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.MuiButton-containedPrimary {
    color: #fff;
    background-color: #1b7e35 !important;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important;
}

.textFields{
    margin-top: 15px !important;
    height: 50px !important;
    
    
}

.hr{
    margin-top: 20px !important;
}
.motorista_textFields{
    width: 30% !important;
}

.veiculo_textFields{
    width: 30% !important;
    left: 20px !important;
}

.data_coleta_textFields, .data_entrega_textFields{
    width: 30% !important;
}

.hora_coleta_textFields, .hora_entrega_textFields{
    width: 30% !important;
    left: 20px !important;
}

.estado_coleta_textFields, .estado_entrega_textFields{
    width: 40% !important;
}

.cidade_coleta_textFields, .cidade_entrega_textFields{
    width: 42% !important;
    margin-left: 22px !important ;
}

.bairro_coleta_textFields, .bairro_entrega_textFields{
    width: 35% !important;
}

.rua_coleta_textFields, .rua_entrega_textFields{
    width: 35% !important;
    margin-left: 20px !important;
}

.numero_coleta_textFields, .numero_entrega_textFields{
    width: 11% !important;
    margin-left: 19px !important;

}

.nomeDoCLiente_textFields{

    width: 50% !important;
}

.peso_textFields{
    width: 20% !important;
}

.volume_textFields{
    width: 20% !important;
    left: 20px !important;
}

.valor_textFields{
    width: 20% !important;
    left: 40px !important;
}

.cnpjDoCLiente_textFields{
    width: 25% !important;
}

.telefoneDoCLiente_textFields{
    width: 25% !important;
    left: 20px !important;
}

.emailDoCLiente_textFields{
    width: 40% !important;
    left: 40px !important;
}

