.form {
    margin-top: -46%;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15) !important;
    max-width: 1400px !important;
    margin-left: 17% !important;
}

.form h1 {
    font-size: 2rem;
}

.form .checkboxes {
    margin: 1rem 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.MuiButton-containedPrimary {
    color: #fff;
    background-color: #1b7e35 !important;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important;
}

.textFields{
    margin-top: 15px !important;
    height: 50px !important;
    
    
}

.hr{
    margin-top: 20px !important;
}
.motorista_textFields{
    width: 30% !important;
}

.veiculo_textFields{
    width: 30% !important;
    left: 20px !important;
}

.data_coleta_textFields, .data_entrega_textFields{
    width: 30% !important;
}

.hora_coleta_textFields, .hora_entrega_textFields{
    width: 30% !important;
    left: 20px !important;
}

.estado_coleta_textFields, .estado_entrega_textFields{
    width: 40% !important;
}

.cidade_coleta_textFields, .cidade_entrega_textFields{
    width: 42% !important;
    margin-left: 22px !important ;
}

.bairro_coleta_textFields, .bairro_entrega_textFields{
    width: 35% !important;
}

.rua_coleta_textFields, .rua_entrega_textFields{
    width: 35% !important;
    margin-left: 20px !important;
}

.numero_coleta_textFields, .numero_entrega_textFields{
    width: 11% !important;
    margin-left: 19px !important;

}

.nomeDoCLiente_textFields{
    width: 50% !important;
}

.peso_textFields{
    width: 25% !important;
}

.volume_textFields{
    width: 25% !important;
    left: 20px !important;
}

.valor_textFields{
    width: 25% !important;
    left: 40px !important;
}

