.subtitle{
    margin-top: 15px;
    margin-bottom: 20px;
}

.goProfile-button{
    color: #fff !important;
    background-color: #1c618f !important;
    font-size: 15px;
    border-radius: 10px;

    /* border: 1px solid  #1973bd !important; */
    width: 165px !important;
    height: 45px !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15) !important; 
    position: absolute;
    bottom: 60px !important; 
    left: 70%;

}
