
.motorista_textFields{
    width: 20% !important;
}

.veiculo_textFields{
    width: 30% !important;
    left: 20px !important;
}

.nomeDoCliente_textFields{
    width: 30% !important;
    left: 35px !important;
}

.peso_textFields{
    width: 20% !important;
}

.volume_textFields{
    width: 20% !important;
    left: 20px !important;
}

.valor_textFields{
    width: 20% !important;
    left: 35px !important;
}

.data_coleta_textFields, .data_entrega_textFields{
    width: 10% !important;
}

.hora_coleta_textFields, .hora_entrega_textFields{
    width: 10% !important;
    left: 20px !important;
}

.estado_coleta_textFields, .estado_entrega_textFields{
    width: 20% !important;
}

.cidade_coleta_textFields, .cidade_entrega_textFields{
    width: 20% !important;
    margin-left: 22px !important ;
}

.bairro_coleta_textFields, .bairro_entrega_textFields{
    width: 20% !important;
    margin-left: 22px !important ;
}

.rua_coleta_textFields, .rua_entrega_textFields{
    width: 20% !important;
    margin-left: 20px !important;
}

.numero_coleta_textFields, .numero_entrega_textFields{
    width: 11% !important;
    margin-left: 19px !important;

}

.subtitle{
    margin-top: 15px;
    margin-bottom: 20px;
}
