.pro-sidebar {
    color: #f1f1f1 !important;
    height: 110%;
    width: 270px;
    min-width: 270px;
    text-align: left;
    transition: width, left, right, 0.3s;
    position: relative;
    z-index: 1009;
    height: 100vh;
    margin-left: -8px;
    margin-top: -8px !important;
}

.tituloMenu{
    font-size: 30px;
    margin-left: 20px;
}

.pro-sidebar > .pro-sidebar-inner {
    box-shadow: 0px 0px 50px rgba(2, 2, 2, 30%) !important;
    background: #1d1d1d;
    height: 115%;
    position: relative;
    z-index: 101;
}

