.form {
    margin-top: -52% !important;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15) !important;
    max-width: 1400px !important;
    margin-left: 17% !important;
}

.form h1 {
    font-size: 2rem;
}

.form .checkboxes {
    margin: 1rem 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.MuiButton-containedPrimary {
    color: #fff;
    background-color: #1b7e35 !important;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important;
}

.nomeCompleto_textField{
    margin-top: 15px !important;
    height: 50px !important;  
    width: 60% !important;  
}

.veiculo_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 35% !important;
    left: 3%; 
}

.CNH_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 30% !important;
}

.cpf_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 33% !important;
    left: 3%;
}

.rg_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 30% !important;
    left: 5%;
}

.senha_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 30% !important; 
}

.telefone_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 33% !important;
    left: 3%; 
}

.email_textField{
    margin-top: 15px !important;
    height: 50px !important;
    width: 30% !important;
    left: 5%;
}



.btn-form_login{
    width: 100% !important;
}
