.form {
    margin-top: -51%;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15) !important;
    max-width: 1400px !important;
    margin-left: 17% !important;
}

.form h1 {
    font-size: 2rem;
}

.form .checkboxes {
    margin: 1rem 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.MuiButton-containedPrimary {
    color: #fff;
    background-color: #1b7e35 !important;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important;
}

.textFields{
    margin-top: 15px !important;
    height: 50px !important;
    
    
}