.textFields{
    margin-top: 15px !important;
    height: 50px !important;
    
    
}

.editButton{

    background-color: #003172;
    width: 60px;
    height: 60px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    border: none;
    position: absolute;
    top: 80px;
    right: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px #3e3e407d;
    cursor: pointer;
    
    @media (max-width: 1180px) {
        bottom: 10px;
        position: fixed;
        top: auto;
        z-index: 10000;
    }
    
}

.deleteButton{

    background-color: #003172;
    width: 60px;
    height: 60px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    border: none;
    position: absolute;
    top: 150px;
    right: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px #3e3e407d;
    cursor: pointer;
    
    @media (max-width: 1180px) {
        bottom: 10px;
        position: fixed;
        top: auto;
        z-index: 10000;
    }
    
}

.hr{
    margin-top: 20px !important;
}
.motorista{
    width: 30% !important;
}

.veiculo{
    width: 30% !important;
    left: 20px !important;
}

.data_coleta, .data_entrega{
    width: 30% !important;
}

.hora_coleta, .hora_entrega{
    width: 30% !important;
    left: 20px !important;
}

.estado_coleta, .estado_entrega{
    width: 40% !important;
}

.cidade_coleta, .cidade_entrega{
    width: 42% !important;
    margin-left: 22px !important ;
}

.bairro_coleta, .bairro_entrega{
    width: 35% !important;
}

.rua_coleta, .rua_entrega{
    width: 35% !important;
    margin-left: 20px !important;
}

.numero_coleta, .numero_entrega{
    width: 11% !important;
    margin-left: 19px !important;

}

.nomeDoCliente{
    margin-left: 30px !important;
    width: 20% !important;
}

.peso{
    width: 20% !important;
}

.volume{
    width: 20% !important;
    left: 20px !important;
}

.valor{
    width: 20% !important;
    left: 40px !important;
}

.nomeDoCLiente_textFields{

    width: 50% !important;
}

.cnpjDoCLiente_textFields{
    width: 25% !important;
}

.telefoneDoCLiente_textFields{
    width: 25% !important;
    left: 20px !important;
}

.emailDoCLiente_textFields{
    width: 40% !important;
    left: 40px !important;
}

.hr{
    margin-top: 20px !important;
}

