@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.textFields{
    margin-top: 15px !important;
    height: 50px !important;
    
    
}

.editButton{

    background-color: #ffffff !important;
    color: #1b7e35 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid  #1b7e35 !important;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important;
    margin-right: 20px !important; 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15) !important; 
    
}
.editButton:hover{

    color: #ffffff !important;
    background-color: #1b7e35 !important;
    border-radius: 10px;
    border: 1px solid  #1b7e35;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important; 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15) !important;
}

.deleteButton{

    background-color: #ffffff !important;
    color: #a12904 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid  #a12904 !important;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important;
    margin-right: 20px !important; 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15) !important;  
}
.deleteButton:hover{

    color: #ffffff !important;
    background-color: #a12904 !important;
    border-radius: 10px;
    border: 1px solid #a12904;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15) !important; 
}

.imprimirButton{

    background-color: #ffffff !important;
    color: #1973bd !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid  #1973bd !important;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15) !important;  
}
.imprimirButton:hover{

    color: #ffffff !important;
    background-color: #1973bd !important;
    border-radius: 10px;
    border: 1px solid  #1973bd;
    width: 165px !important;
    height: 45px !important;
    margin-top: 15px !important; 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15) !important; 
}


.hr{
    margin-top: 20px !important;
}
.motorista{
    width: 30% !important;
}

.veiculo{
    width: 30% !important;
    left: 20px !important;
}

.data_coleta, .data_entrega{
    width: 30% !important;
}

.hora_coleta, .hora_entrega{
    width: 30% !important;
    left: 20px !important;
}

.estado_coleta, .estado_entrega{
    width: 40% !important;
}

.cidade_coleta, .cidade_entrega{
    width: 42% !important;
    margin-left: 22px !important ;
}

.bairro_coleta, .bairro_entrega{
    width: 35% !important;
}

.rua_coleta, .rua_entrega{
    width: 35% !important;
    margin-left: 20px !important;
}

.numero_coleta, .numero_entrega{
    width: 11% !important;
    margin-left: 19px !important;

}

.nomeDoCliente{
    margin-left: 30px !important;
    width: 20% !important;
}

.peso{
    width: 20% !important;
}

.volume{
    width: 20% !important;
    left: 20px !important;
}

.valor{
    width: 20% !important;
    left: 40px !important;
}

.nomeDoCLiente_textFields{

    width: 50% !important;
}

.cnpjDoCLiente_textFields{
    width: 25% !important;
    margin-bottom: 15px !important;
}

.telefoneDoCLiente_textFields{
    width: 25% !important;
    left: 20px !important;
}

.emailDoCLiente_textFields{
    width: 40% !important;
    left: 40px !important;
}

.hr{
    margin-top: 20px !important;
}

